API_ID= 16179045                          #Fill your API_ID from my.telegram.org
API_HASH= dc99c86a0b38365fd6c8b35ae9c577b9            
AUTO_LEAVING_ASSISTANT=False     #Fill True, if you want your assistant will automatically exit when no song is playing
BOT_TOKEN= 5051175427:AAEIJdwr1PMWBm6A6x0I09DBC_DdRRP4JjA                       #Fill your Token from @BotFather
DURATION_LIMIT= 4500                 #How long does your bot play the song
MONGO_DB_URI= mongodb+srv://al:achil234@al.odhu4.mongodb.net/?retryWrites=true&w=majority              #Get MongoDB from mongodb.com
LOG_GROUP_ID=-1001835456207                #Fill in using your group log id
MUSIC_BOT_NAME= ALBY MUSIC                 #Your Bot Name
OWNER_ID= 1441342342
STRING_SESSION1= BQBvt9k5eJzQemumFqB3T-gHEjUulet39UyuYAdwvP9mfQTwg-wzWAFtHHHDo8wQysXbBh3MQ0wrf5u6brIbRCP7aFpkPDUw6iIiGbAcuQgIbcTt0XDDXR7kv7_m-qF6V6uAE-7EMn4MJ-WhAZ3Zr1XT-RBbZxEesJEL_Ms2oFMPxZx8WFALiyIfd17pGSIUucJEf6IPqHSGUiGUxM4RAbyiG8oHauQT1TYB4Ah_Kcfsv_zHBF50E-B2zLrHLd_LgWTeaWiX63HoOxhI41djSPCleWiu2Ksy609jPYMdwYqXZpHh0SGfnqkB6l3ox2QeklgfCK66uV6MpObmstgvdUKCezVv_wA
UPSTREAM_BRANCH= main             #Don't change it, just leave it as it is
UPSTREAM_REPO= https://github.com/Arsyabot/Musikku    #If you don't have a repo link, just leave it like that
